:root {
  --color-black-1: #111111;
  --color-white-1: #dee2e6;
  --color-white-2: #f1f3f2;

  --color-green-2: #2b8a3e;
  --color-green-3: #2f9e44;
  --color-green-1: #37b24d;
  --color-green-4: #37b24d;
  --color-green-5: #37b24d;
  --color-green-6: #b2f2bb;

  --transparent: transparent;
}

body {
  background-color: var(--color-black-1);
}