.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  gap: 2rem;

  & > h1 {
    text-align: center;

    border-bottom: 1px solid var(--color-white-2);
    padding-bottom: 1rem;
  }

  & > div {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
  
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    
    & > .button__submit {
      height: 40px;
    }
  }
}

@media (min-width: 650px) {
  .login__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > h1 {
      text-align: inherit;
      border: none;
    }

    & > div {
      display: flex;
      justify-content: center;

      height: 100%;
      width: 100%;
      max-width: clamp(250px, 50vw, 380px);

      padding-left: clamp(1.5rem, 3vw, 2.5rem);

      border-left: 1px solid var(--color-white-2);
    }
  }
}